.search-input {
  float: right;
  width: 300px;
  padding: 6px;
  margin-right: 16px;
  border: none;
  font-size: 17px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
  opacity: 0.5;
}

.search-input:focus {
  opacity: 1;
  outline: none;
}
::placeholder {
  color: white;
}
