.gist {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 320px;
  max-height: 55px;
}

.info {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-left: 10px;
}

.title {
  margin: 0;
  cursor: pointer;
  font-size: medium;
  color: blue;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title span {
  font-weight: bolder;
}

.subtitle p {
  color: gray;
  font-size: x-small;
  margin: 0;
  margin-top: 5px;
}
