.top-nav {
  color: hsl(200, 20%, 95%);
  /* backgroun#000d144%); */
  background: green;

  gap: 1rem;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  position: sticky;
  top: 0;
  z-index: 10000;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 2rem;
}
.nav-content a {
  text-decoration: none;
  color: inherit;
}

.nav-text-large {
  font-size: 2rem;
}
